body {
  min-width: 320px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

a.lectureTitle{
	color: #007bff;
}

a {
	color: #343a40;
}

#course-themes{
	font-size: 18px;
}

#bigCap,#idCircle{
	color: white;
}

.courseTitle, .hours, .author, .classHours{
	font-weight: 600;
}

.courseParts{
	color: #007bff;
}

#tableStudentsSection, #courseDescriptionSection, #gradeStudentsSection, #theme{
	display: none;
}

.editCell{
	contenteditable:'true';
}